body {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
h2 {
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.feature {
  background-image: url(../Images/SmashUltimate.jpg);
  background-size: 100%;
  background-position: center;
  text-align: center;
  text-shadow: #000000 3px 3px;
  color: rgb(0, 255, 242);
}
.feature2 {
background-image: url(../Images/wL2Glkl.jpg);
background-size: 100%;
background-position: center;
text-align: center;
text-shadow: #000000 3px 3px;
color: rgb(0, 255, 242);
}

@media screen and (max-width: 600px) {

  .feature {
    background-image: url(../Images/SmashUltimate.jpg);
    background-size: 100%;
    background-position: center;
    text-align: center;
    text-shadow: #000000 3px 3px;
  }

  body {
    background-color: teal;
    color: white;
    text-align: center;
  }
}